@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to First Change in Pipeline!</h1>
    <p>EAP! <a href="https://media.giphy.com/media/Lx8lyPHGfdNjq/giphy.gif">Click to feel my emotion</a>.</p>
</div>
