@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to First Change in Pipeline!</h1>
    <p>EAP! <a href="https://media.giphy.com/media/Lx8lyPHGfdNjq/giphy.gif">Click to feel my emotion</a>.</p>
    <iframe src="https://giphy.com/embed/Lx8lyPHGfdNjq" width="480" height="262" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/guy-chuck-punch-Lx8lyPHGfdNjq">via GIPHY</a></p>
</div>
